<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAIqnV0NRIjTAVlExMsDzu5Y7GvLI2PMzo</string>
	<key>GCM_SENDER_ID</key>
	<string>859087089071</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.celam</string>
	<key>PROJECT_ID</key>
	<string>celam-f4fd6</string>
	<key>STORAGE_BUCKET</key>
	<string>celam-f4fd6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859087089071:ios:862f1a6a700f76d802d35a</string>
</dict>
</plist>